<template>
	<form action="" method="get">
		<div class="row"><!-- start row -->
			<div class="col-md-4">
			<label for="nombre">Nombre</label>
				<input name="nombre" id="nombre" v-model="nombre"  class="form-control" aria-label="Nombre del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('apellidoPaterno')" disabled />

			<label for="apellidoPaterno">Apellido Paterno</label>
				<input name="apellidoPaterno" id="apellidoPaterno" v-model="apellidoPaterno"  class="form-control" aria-label="Apellido paterno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('apellidoMaterno')" disabled/>

			<label for="apellidoMaterno">Apellido Materno</label>
				<input name="apellidoMaterno" id="apellidoMaterno" v-model="apellidoMaterno"  class="form-control" aria-label="Apellido Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('fechaNacimietno')" disabled/>

				<label for="fechaNacimiento">Fecha de Nacimiento</label>
				<input name="fechaNacimiento" id="fechaNacimiento" v-model="fechaNacimiento"  class="form-control" aria-label="Fecha de Nacimiento del precandidato" :class="{'input': true }" maxlength="25" type="date" @change="myFocus('email')" disabled/>

				<label for="email">Email</label>
				<input name="email" id="email" v-model="email"  class="form-control" aria-label="Email Materno del precandidato" :class="{'input': true }" maxlength="25" type="email" @change="myFocus('genero1')" disabled/>

				<label for="genero">Genero</label><br>
				<input name="genero" id="genero" v-model="genero"  class="form-control" aria-label="Email Materno del precandidato" :class="{'input': true }" maxlength="25" type="genero" @change="myFocus('genero1')" disabled/>
				 <br>


				
		</div>
		
		<div class="col-md-4">

			<label for="idEstadoCilvil">Estado Civil </label>
				<input name="idEstadoCilvil" id="idEstadoCilvil" v-model="idEstadoCilvil"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('genero1')" disabled/>

				<label for="idEscolaridad">Escolaridad </label>
				<input name="idEscolaridad" id="idEscolaridad" v-model="idEscolaridad"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('genero1')" disabled/>				

				<label for="idEtdoEscolaridad">Estado Escolar </label>
				<input name="idEtdoEscolaridad" id="idEtdoEscolaridad" v-model="idEtdoEscolaridad"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('genero1')" disabled/>
				
			<label for="telefonoFijo">Telefono Fijo</label>
				<input name="telefonoFijo" id="telefonoFijo" v-model="telefonoFijo"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('telefonoMovil')" disabled/>

				<label for="telefonoMovil">Telefono Movil</label>
				<input name="telefonoMovil" id="telefonoMovil" v-model="telefonoMovil"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('genero1')" 
				disabled/>

				

		</div>

		<div class="col-md-4">
			<label for="">Imagen</label><br>
			<img :src="this.pre.imagen" alt="" class="img-fluid" style="width: 220px; height: 220px;">
		</div>


		</div><!-- end row --> <br>
				<center>
				<a href="/solicitud" class="btn btn-primary" >
						Regresar
				</a>
				 <form action="/preCandidatoUpdate" method="POST">
          <input type="hidden" name="_token" :value="csrf">
          <input type="hidden" :value="pre.id" name="id">
          <input type="submit" class="btn btn-primary btn-sm" value="Actualizar Datos">
        </form>
		</center>
	</form>
</template>

<script>
	import axios from 'axios';
	import moment from 'moment';

	    export default {
        props: ['solicitud'],

         data() {
            return {
			    id:'',
                nombre: '',
                apellidoPaterno: '',
				apellidoMaterno: '',
				fechaNacimiento: '2001-01-01',
                email: '',
                genero: '',
                curp: '',
                rfc: '',
                nss: '',
				idEstadoCilvil: '',
				idEscolaridad: '',
				idEtdoEscolaridad: '',
				cp: '',
				colonia: '',
				calle: '',
				numeroExterior: '',
				numeroInterior: '',
				telefonoFijo: '',
				telefonoMovil: '',
				idBolsa: '',
				resultadoExamen: '',
				csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                escolaridades: [],
                etdoescolaridades: [],
                ecivil: [],
                bolsa: [],
                errors: [],
                pre: [],
            }
        },
         beforeCreate: function() {

        },
				created: function() {
					 // this.nombre= typeof this.candits.nombre;
            this.getEscolaridades();
            this.getEtdoEscolaridades();
			this.getECivil();
			this.getALLBolsa();
			this.getPrecandidato();
        },
        methods: {
        	getPrecandidato: function () {
        		axios.get('http://192.168.11.1:8091/servicios/getPrecandidatoBySolicitud?id='+this.solicitud)
        		.then(
							response => {
									this.pre = response.data;
							}
						);
        	},

						getEscolaridades: function() {
							axios.get('http://192.168.11.1:8091/servicios/getEscolaridades')
							.then(
									response => {
											this.escolaridades = response.data;
									}
							);
            },
					  getEtdoEscolaridades: function() {
							axios.get('http://192.168.11.1:8091/servicios/getEtdoEscolaridades')
							.then(
									response => {
											this.etdoescolaridades = response.data;
									}
							);
            },
						getECivil: function() {
							axios.get('http://192.168.11.1:8091/servicios/getECivil')
							.then(
									response => {
											this.ecivil = response.data;
									}
							);
            },
            			getALLBolsa: function() {
							axios.get('http://192.168.11.1:8091/servicios/getALLBolsa')
							.then(
									response => {
											this.bolsa = response.data;
									}
							);
            },

						myFocus: function( id ) {
							document.getElementById(id).focus();
						}
        },
				directives: {
					focus: {
						inserted: function (el) {
							el.focus()
						}
					}
				},
								watch:{
					pre: function(val){
						this.nombre= this.pre.nombre;
						this.apellidoPaterno= this.pre.apellidoPaterno;
						this.apellidoMaterno= this.pre.apellidoMaterno;
						this.fechaNacimiento=moment(this.pre.fechaNacimiento).format('YYYY-MM-DD');
						this.email= this.pre.email;
						this.genero= this.pre.genero;
						this.curp= this.pre.curp;
						this.rfc= this.pre.rfc;
						this.nss= this.pre.nss;
						this.idEstadoCilvil= this.pre.ecivil;
						this.idEscolaridad= this.pre.escolaridad;
						this.idEtdoEscolaridad = this.pre.estadoEscolaridad;
						this.cp= this.pre.cp;
						this.colonia= this.pre.colonia;
						this.calle= this.pre.calle;
						this.numeroExterior= this.pre.numeroExterior;
						this.numeroInterior = this.pre.numeroInterior;
						this.telefonoFijo= this.pre.telefonoFijo;
						this.telefonoMovil= this.pre.telefonoMovil;
						this.idBolsa= this.pre.bolsa;
						this.resultadoExamen = this.pre.resultadoExamen;
					}
				},
        mounted() {
        }
    }
</script>