<template>
	<form action="" method="get">
		<div class="row"><!-- start row -->
			<div class="col-md-4">
			<label for="nombre">Nombre</label>
				<input name="nombre" id="nombre" v-model="nombre"  class="form-control" aria-label="Nombre del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('apellidoPaterno')" />

			<label for="apellidoPaterno">Apellido Paterno</label>
				<input name="apellidoPaterno" id="apellidoPaterno" v-model="apellidoPaterno"  class="form-control" aria-label="Apellido paterno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('apellidoMaterno')" />

			<label for="apellidoMaterno">Apellido Materno</label>
				<input name="apellidoMaterno" id="apellidoMaterno" v-model="apellidoMaterno"  class="form-control" aria-label="Apellido Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('fechaNacimietno')" />

				<label for="fechaNacimiento">Fecha de Nacimiento</label>
				<input name="fechaNacimiento" id="fechaNacimiento" v-model="fechaNacimiento"  class="form-control" aria-label="Fecha de Nacimiento del precandidato" :class="{'input': true }" maxlength="25" type="date" @change="myFocus('email')" />

				<label for="email">Email</label>
				<input name="email" id="email" v-model="email"  class="form-control" aria-label="Email Materno del precandidato" :class="{'input': true }" maxlength="25" type="email" @change="myFocus('genero1')" />

				<label for="genero">Genero</label><br>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="genero1" name="genero" v-model="genero" value="M" aria-label="Género masculino" class="custom-control-input" @change="myFocus('curp')" />
					<label class="custom-control-label" for="genero1">Masculino</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="genero2" name="genero" v-model="genero" value="F" aria-label="Género femenino" class="custom-control-input" @change="myFocus('curp')"/>
					<label class="custom-control-label" for="genero2">Femenino</label>
				</div> <br>
		</div>

		<div class="col-md-4">
			

			<label for="idEstadoCilvil">Estado Civil </label>
				<select name="idEstadoCilvil" id="idEstadoCilvil" v-model="idEstadoCilvil"  :class="{'input': true }" class="custom-select" aria-label="Estado Civil"  @change="myFocus('idEscolaridad')">
					<option value="">Estado Civil</option>
					<option v-for="item in ecivil" v-bind:ecivil="item.id" :value="item.id"> {{ item.descripcion }} </option>
				</select>

				<label for="idEscolaridad">Escolaridad </label>
				<select name="idEscolaridad" id="idEscolaridad" v-model="idEscolaridad"  :class="{'input': true}" class="custom-select" aria-label="Escolaridad"  @change="myFocus('idEtdoEscolaridad')">
					<option value="">Escolaridad</option>
					<option v-for="item in escolaridades" v-bind:escolaridades="item.id" :value="item.id"> {{ item.nivel }} </option>
				</select>

				<label for="idEtdoEscolaridad">Estado Escolar </label>
				<select name="idEtdoEscolaridad" id="idEtdoEscolaridad" v-model="idEtdoEscolaridad"  :class="{'input': true}" class="custom-select" aria-label="Estado Escolaridad"  @change="myFocus('cp')">
					<option value="">Estado Escolar</option>
					<option v-for="item in etdoescolaridades" v-bind:etdoescolaridades="item.id" :value="item.id"> {{ item.estado }} </option>
				</select>

				<label for="cp">Codigo Postal</label>
				<input name="cp" id="cp" v-model="cp"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('colonia')" />

				<label for="colonia">Colonia</label>
				<input name="colonia" id="colonia" v-model="colonia"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('calle')" />

				<label for="calle">Calle</label>
				<input name="calle" id="calle" v-model="calle"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('numeroExterior')" />

				<label for="numeroExterior">Numero Exterior</label>
				<input name="numeroExterior" id="numeroExterior" v-model="numeroExterior"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('numeroInterior')" />

				<label for="numeroInterior">Numero Interior</label>
				<input name="numeroInterior" id="numeroInterior" v-model="numeroInterior"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('telefonoFijo')" />
		</div>
		
		<div class="col-md-4">
			<label for="telefonoFijo">Telefono Fijo</label>
				<input name="telefonoFijo" id="telefonoFijo" v-model="telefonoFijo"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('telefonoMovil')" />

				<label for="telefonoMovil">Telefono Movil</label>
				<input name="telefonoMovil" id="telefonoMovil" v-model="telefonoMovil"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('genero1')" />

			
		</div>


		</div><!-- end row --> <br>
				<center>
			<button type="button" class="btn btn-success" v-on:click="update" >
						Actualizar
				</button>
				<a href="/preCandidato" class="btn btn-primary" >
						Regresar
				</a>
		</center>
	</form>
</template>

<script>
	import axios from 'axios';
	import moment from 'moment';

	    export default {
        props: ['precandidato'],

         data() {
            return {
			    id:'',
                nombre: '',
                apellidoPaterno: '',
				apellidoMaterno: '',
				fechaNacimiento: '2001-01-01',
                email: '',
                genero: '',
                curp: '',
                rfc: '',
                nss: '',
				idEstadoCilvil: '',
				idEscolaridad: '',
				idEtdoEscolaridad: '',
				cp: '',
				colonia: '',
				calle: '',
				numeroExterior: '',
				numeroInterior: '',
				telefonoFijo: '',
				telefonoMovil: '',
				idBolsa: '',
				resultadoExamen: '',
				
                escolaridades: [],
                etdoescolaridades: [],
                ecivil: [],
                bolsa: [],
                errors: [],
                pre: [],
            }
        },
         beforeCreate: function() {

        },
				created: function() {
					 // this.nombre= typeof this.candits.nombre;
            this.getEscolaridades();
            this.getEtdoEscolaridades();
			this.getECivil();
			this.getALLBolsa();
			this.getPrecandidato();
        },
        methods: {
        	getPrecandidato: function () {
        		axios.get('http://192.168.11.1:8091/servicios/getPrecandidatoById?id='+this.precandidato)
        		.then(
							response => {
									this.pre = response.data;
							}
						);
        	},
        	 update: function(){
							axios.post('http://192.168.11.1:8091/servicios/updatePreCandidato', {
						    id: this.precandidato,
						    id_solicitud_rrhh : this.pre.idSolicitudRrhh,
						    nombre: this.nombre,
						    apellido_paterno : this.apellidoPaterno,
						    apellido_materno : this.apellidoMaterno,
						    fecha_nacimiento: this.fechaNacimiento,
						    email:this.email,
							genero:this.genero,
							curp : this.curp,
							rfc : this.rfc,
							nss : this.nss,
							id_estado_civil: this.idEstadoCilvil,
							id_escolaridad:this.idEscolaridad,
							id_etdo_escolaridad:this.idEtdoEscolaridad,
							id_pais : 1,
							cp : this.cp,
							colonia: this.colonia,
							calle : this.calle,
							numero_exterior : this.numeroExterior,
							numero_interior : this.numeroInterior,
							telefono_fijo: this.telefonoFijo,
							telefono_movil:this.telefonoMovil,
							id_bolsa_trabajo : this.idBolsa,
							id_estado_motivo : 1,
							resultado_examen : this.resultadoExamen,
						  })
						  .then(function (response) {
						    console.log(response);
						  })
						  .catch(function (error) {
						    console.log(error);
						  });
						},
						getEscolaridades: function() {
							axios.get('http://192.168.11.1:8091/servicios/getEscolaridades')
							.then(
									response => {
											this.escolaridades = response.data;
									}
							);
            },
					  getEtdoEscolaridades: function() {
							axios.get('http://192.168.11.1:8091/servicios/getEtdoEscolaridades')
							.then(
									response => {
											this.etdoescolaridades = response.data;
									}
							);
            },
						getECivil: function() {
							axios.get('http://192.168.11.1:8091/servicios/getECivil')
							.then(
									response => {
											this.ecivil = response.data;
									}
							);
            },
            			getALLBolsa: function() {
							axios.get('http://192.168.11.1:8091/servicios/getALLBolsa')
							.then(
									response => {
											this.bolsa = response.data;
									}
							);
            },

						myFocus: function( id ) {
							document.getElementById(id).focus();
						}
        },
				directives: {
					focus: {
						inserted: function (el) {
							el.focus()
						}
					}
				},
								watch:{
					pre: function(val){
						this.nombre= this.pre.nombre;
						this.apellidoPaterno= this.pre.apellidoPaterno;
						this.apellidoMaterno= this.pre.apellidoMaterno;
						this.fechaNacimiento=moment(this.pre.fechaNacimiento).format('YYYY-MM-DD');
						this.email= this.pre.email;
						this.genero= this.pre.genero;
						this.curp= this.pre.curp;
						this.rfc= this.pre.rfc;
						this.nss= this.pre.nss;
						this.idEstadoCilvil= this.pre.idEstadoCivil;
						this.idEscolaridad= this.pre.idEscolaridad;
						this.idEtdoEscolaridad = this.pre.idEtdoEscolaridad;
						this.cp= this.pre.cp;
						this.colonia= this.pre.colonia;
						this.calle= this.pre.calle;
						this.numeroExterior= this.pre.numeroExterior;
						this.numeroInterior = this.pre.numeroInterior;
						this.telefonoFijo= this.pre.telefonoFijo;
						this.telefonoMovil= this.pre.telefonoMovil;
						this.idBolsa= this.pre.idBolsaTrabajo;
						this.resultadoExamen = this.pre.resultadoExamen;
					}
				},
        mounted() {
        }
    }
</script>