<template>
	<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">EMAIL</th>
      <th scope="col">TELEFONO MOVIL</th>
      <th scope="col">ESTADO</th>
      <th scope="col">ACCION</th>
      <th><input type="text" class="form-control" id="buscar" placeholder="Buscar" aria-describedby="buscar" v-model = "filtro"></th>
    </tr>
  </thead>
  <tbody>
    <tr v-for = "item in datosFiltradosPaginados">
         <td  v-bind:solicitudes="item">{{ item.id }}</td>
      <td  v-bind:solicitudes="item">{{ item.nombre }}</td>
      <td  v-bind:solicitudes="item">{{ item.email }}</td>
      <td  v-bind:solicitudes="item">{{ item.telefonoMovil }}</td>
      <td  v-bind:solicitudes="item">{{ item.estado }}</td>
      <td  v-bind:solicitudes="item">{{ item.competencia }}</td>
      <td>
         <form action="/crearCandidato" method="POST" v-if="item.idEstado == 0">
          <input type="hidden" name="_token" :value="csrf">
          <input type="hidden" :value="item.id" name="id">
          <input type="submit" class="btn btn-primary btn-sm" value="Crear Candidato">
        </form>
        
        <form action="/verCandidato" method="POST" v-if="item.idEstado == 1">
          <input type="hidden" name="_token" :value="csrf">
          <input type="hidden" :value="item.id" name="id">
          <input type="submit" class="btn btn-primary btn-sm" value="Ver Candidato">
        </form>
      </td>
     </tr>
  </tbody>
     
       <nav aria-label="pagination" v-show="mostrarPaginacion" class="paginacion">
    <ul class="pager">
        <button v-show="mostrarPaginaAnterior" class="btn btn-primary" @click.prevent="irAPaginaAnterior()">Anterior</button>
        <button v-show="mostrarPaginaSiguiente"  class="btn btn-primary"  @click.prevent="irAPaginaSiguiente()">Siguiente</button>
    </ul>
  </nav>
<p>{{paginaActual}}</p>
</table>
</template>

<script>
  import axios from 'axios'
  import VuePaginate from 'vue-paginate'
  Vue.use(VuePaginate)
    export default {
      data(){
      return {
      preCandidatos: [],
      idCandidato: {},
       ppp : 10, //Posts por pagina
      paginaActual : 1,
      filtro: '',
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
    }
      },
        beforeCreate: function() {

  },
  created: function() {
      this.rest();
  },
  methods: {

    rest: function(){
    var that=this;
    axios.get('http://192.168.11.1:8091/servicios/getALLPrecandidato')
    .then(function(response){
      that.preCandidatos = response.data;
    })
    .catch(function(erro){
      console.log('Error: '+error);
    });
  },

  paginarDatos: function(datos){
      var self = this;
      var arrayPaginado = [];
      var inicioArray = self.ppp * (self.paginaActual - 1);
      var finalArray = (self.ppp * self.paginaActual) < datos.length ? (self.ppp * self.paginaActual) : datos.length ;
      
      for (var i = inicioArray; i < finalArray; i++){
        arrayPaginado.push(datos[i]);
      };
      
      return arrayPaginado;
    },
    
    irAPaginaAnterior : function(){
      var self = this;
      self.paginaActual > 1 ? self.paginaActual-- : 1;
    },
    

    irAPaginaSiguiente : function(){
      var self = this;
      var maxPage = Math.ceil(self.preCandidatos.length / self.ppp);
      self.paginaActual < maxPage ? self.paginaActual++ : maxPage;
    },
},
computed: {
   datosFiltrados: function() {
      var self = this;
      if (self.filtro !== ''){        
       
        return self.preCandidatos.filter(function(item) {        
          return _.includes(item.email, self.filtro);
        })
        
      }else{
        return self.preCandidatos
      }
    },

            datosFiltradosPaginados: function() {
      var self = this;
      //console.log()
      return  self.paginarDatos(self.datosFiltrados); 
    },

    mostrarPaginacion: function(){
      var self = this;
      if (self.datosFiltrados.length > self.ppp){
        return true
      } else{
        return false
      }
    },

     mostrarPaginaAnterior: function(){
      if (this.paginaActual > 1){
        return true
      } else {
        return false
      }  
    },

    mostrarPaginaSiguiente: function(){
      var maxPage = Math.ceil(this.preCandidatos.length / this.ppp);
      if (this.paginaActual < maxPage){
        return true
      } else {
        return false
      }
    },  
        },
         
  
   mounted() {
    }
    }
</script>