<template>
	<form action="" method="get">
		<div class="row justify-content-center"><p v-if="errors.length">
    <b>Por favor corrija los siguientes errores:</b>
    <ul>
      <li v-for="error in errors">{{ error }}</li>
    </ul>
  </p>
</div>
		<div class="row"><!-- start row -->
			<div class="col-md-4">
			<label for="nombre">Nombre</label>
				<input name="nombre" id="nombre" v-model="nombre"  class="form-control" aria-label="Nombre del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('apellidoPaterno')"/>

			<label for="apellidoPaterno">Apellido Paterno</label>
				<input name="apellidoPaterno" id="apellidoPaterno" v-model="apellidoPaterno"  class="form-control" aria-label="Apellido paterno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('apellidoMaterno')"/>	

			<label for="apellidoMaterno">Apellido Materno</label>
				<input name="apellidoMaterno" id="apellidoMaterno" v-model="apellidoMaterno"  class="form-control" aria-label="Apellido Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('fechaNacimietno')"/>

				<label for="fechaNacimiento">Fecha de Nacimiento</label>
				<input name="fechaNacimiento" id="fechaNacimiento" v-model="fechaNacimiento"  class="form-control" aria-label="Fecha de Nacimiento del precandidato" :class="{'input': true }" maxlength="25" type="date" @change="myFocus('email')"/>

				<label for="email">Email</label>
				<input name="email" id="email" v-model="email"  class="form-control" aria-label="Email Materno del precandidato" :class="{'input': true }" maxlength="25" type="email" @change="myFocus('genero1')" />

				<label for="genero">Genero</label><br>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="genero1" name="genero" v-model="genero" value="M" aria-label="Género masculino" class="custom-control-input" @change="myFocus('idEstadoCilvil')" />
					<label class="custom-control-label" for="genero1">Masculino</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="genero2" name="genero" v-model="genero" value="F" aria-label="Género femenino" class="custom-control-input" @change="myFocus('idEstadoCilvil')"/>
					<label class="custom-control-label" for="genero2">Femenino</label>
				</div> <br>
		</div>

		<div class="col-md-4">
			<label for="idEstadoCilvil">Estado Civil </label>
				<select name="idEstadoCilvil" id="idEstadoCilvil" v-model="idEstadoCilvil"  :class="{'input': true }" class="custom-select" aria-label="Estado Civil"  @change="myFocus('idEscolaridad')">
					<option value="">Estado Civil</option>
					<option v-for="item in ecivil" v-bind:ecivil="item.id" :value="item.id"> {{ item.descripcion }} </option>
				</select>

				<label for="idEscolaridad">Escolaridad </label>
				<select name="idEscolaridad" id="idEscolaridad" v-model="idEscolaridad"  :class="{'input': true}" class="custom-select" aria-label="Escolaridad"  @change="myFocus('idEtdoEscolaridad')">
					<option value="">Escolaridad</option>
					<option v-for="item in escolaridades" v-bind:escolaridades="item.id" :value="item.id"> {{ item.nivel }} </option>
				</select>

				<label for="idEtdoEscolaridad">Estado Escolar </label>
				<select name="idEtdoEscolaridad" id="idEtdoEscolaridad" v-model="idEtdoEscolaridad"  :class="{'input': true}" class="custom-select" aria-label="Estado Escolaridad"  @change="myFocus('cp')">
					<option value="">Estado Escolar</option>
					<option v-for="item in etdoescolaridades" v-bind:etdoescolaridades="item.id" :value="item.id"> 
					{{ item.estado }} </option>
				</select>

				<label for="cp">Codigo Postal</label>
				<input name="cp" id="cp" v-model="cp"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('colonia')" />

				<label for="colonia">Colonia</label>
				<input name="colonia" id="colonia" v-model="colonia"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('calle')" />

				<label for="calle">Calle</label>
				<input name="calle" id="calle" v-model="calle"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('numeroExterior')" />

				<label for="numeroExterior">Numero Exterior</label>
				<input name="numeroExterior" id="numeroExterior" v-model="numeroExterior"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('numeroInterior')"/>

				<label for="numeroInterior">Numero Interior</label>
				<input name="numeroInterior" id="numeroInterior" v-model="numeroInterior"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('telefonoFijo')"/>
		</div>
		
		<div class="col-md-4">
			<label for="telefonoFijo">Telefono Fijo</label>
				<input name="telefonoFijo" id="telefonoFijo" v-model="telefonoFijo"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('telefonoMovil')" />

				<label for="telefonoMovil">Telefono Movil</label>
				<input name="telefonoMovil" id="telefonoMovil" v-model="telefonoMovil"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('tiempo')" />

				<label for="tiempo">Tiempo de Traslado</label>
				<input name="tiempo" id="tiempo" v-model="tiempo"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('medio')" 
				placeholder="Ingrese el tiempo en minutos" />

				<label for="medio">Medio de Traslado</label>
				<input name="medio" id="medio" v-model="medio"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('metro')" />

				<label for="metro">Metro mas Cercano</label>
				<input name="metro" id="metro" v-model="metro"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text"/>
				
		</div>


		</div><br>
				<center>
		

  <!-- Modal Component -->
  <b-modal id="modal1" title="Tomar Foto a Pre Candidato" class= "modalFoto">
    <video id="video"></video>
	<br>
	<button type="button" id="boton" v-on:click="create" name="boton">Tomar foto</button>
	<p id="estado"></p>
	<canvas id="canvas" style="display: none;"></canvas>
  </b-modal>
<b-btn v-b-modal.modal1 v-on:click="getFoto">Tomar Foto</b-btn>	
				<a href="/preCandidato" class="btn btn-primary" >
	 Regresar</a>
		</center>
	</form>
</template>

<script>
	var imagen = '';
	import axios from 'axios';
	import moment from 'moment';

	    export default {
        props: ['solicitud'],

         data() {
            return {
			    id:'',
			    idSolicitud: this.solicitud,
                nombre: '',
                apellidoPaterno: '',
				apellidoMaterno: '',
				fechaNacimiento: '2001-01-01',
                email: '',
                genero: '',
				idEstadoCilvil: '',
				idEscolaridad: '',
				idEtdoEscolaridad: '',
				cp: '',
				colonia: '',
				calle: '',
				numeroExterior: '',
				numeroInterior: '',
				telefonoFijo: '',
				telefonoMovil: '',
				tiempo: '',
				medio: '',
				metro: '',
				nombre_imagen: '',
                escolaridades: [],
                etdoescolaridades: [],
                ecivil: [],
                sol: [],
                errors: []
            }
        },
         beforeCreate: function() {

        },
				created: function() {					 
            this.getEscolaridades();
            this.getEtdoEscolaridades();
			this.getECivil();
			this.getSolicitud();
			this.getFoto();
        },
        methods: {
					  create: function(){
					  	var uniqid = require('uniqid');
					  var $video = document.getElementById("video"),
					$canvas = document.getElementById("canvas");
				//Pausar reproducción
				$video.pause();
				//Obtener contexto del canvas y dibujar sobre él
				var contexto = $canvas.getContext("2d");
				$canvas.width = $video.videoWidth;
				$canvas.height = $video.videoHeight;
				contexto.drawImage($video, 0, 0, $canvas.width, $canvas.height);
				var foto = $canvas.toDataURL(); //Esta es la foto, en base 64
				var foto_limpia = foto.replace("data:image/png;base64,", "");
				 imagen = "fotos/"+uniqid()+uniqid()+".png";
				
				axios.post('/saveFoto',{
					imagen: foto_limpia,
					nombre_imagen: imagen,
				}).then(function (response) {
						    console.log('exito');
						  })
						  .catch(function (error) {
						    console.log('error');
						  });			
				
							var exprCel = /\d{10}/;
							var exprTel = /\d{8}/;
							var exprCp = /\d{5}/;
					  	if (this.nombre && this.apellidoPaterno && this.apellidoMaterno && this.email && this.cp &&this.colonia &&this.calle &&this.numeroInterior
					  		&&this.numeroExterior && this.telefonoFijo && this.telefonoMovil) {
					  		axios.post('http://192.168.11.1:8091/servicios/savePreCandidato', {

							id_solicitud_rrhh: this.idSolicitud,
						    nombre: this.nombre,
						    apellido_paterno: this.apellidoPaterno,
						    apellido_materno: this.apellidoMaterno,
						    fecha_nacimiento: this.fechaNacimiento,
						    email:this.email,
							genero:this.genero,
							id_estado_civil: this.idEstadoCilvil,
							id_escolaridad:this.idEscolaridad,
							id_etdo_escolaridad:this.idEtdoEscolaridad,
							id_pais: 1,
							cp: this.cp,
							colonia: this.colonia,
							calle: this.calle,
							numero_interior: this.numeroInterior,
							numero_exterior: this.numeroExterior,
							telefono_fijo: this.telefonoFijo,
							telefono_movil:this.telefonoMovil,
							tiempo: this.tiempo,
							medio: this.medio,
							metro: this.metro,
							imagen: imagen,
							id_estado_motivo: 1,
							id_estado: 1,

						  })
						  .then(function (response) {
						    	console.log('exito');
						    	location.href = '/preCandidato';
						  })
						  .catch(function (error) {
						    console.log('error');
						  });
					  	}
					  	 this.errors = [];

						      if (!this.nombre) {
						        this.errors.push('Se rquiere el Nombre.');
						      }
						      if (!this.apellidoMaterno) {
						        this.errors.push('Se requiere un Apellido Materno.');
						      }
						      if (!this.apellidoPaterno) {
						        this.errors.push('Se requiere un Apellido Paterno.');
						      }
						      if (!this.email) {
						        this.errors.push('Se requiere un Email.');
						      }
						      if (!this.cp) {
						        this.errors.push('Se requiere un Codigo Postal.');
						      }else if(this.cp){
						      	if (!exprCp.test(this.cp)) {
						      		 this.errors.push('Se requiere un Codigo Postal Valido.');
						      	}
						      }
						      if (!this.colonia) {
						        this.errors.push('Se requiere una Colonia.');
						      }
						      if (!this.calle) {
						        this.errors.push('Se requiere una Calle.');
						      }
						      if (!this.numeroInterior) {
						        this.errors.push('Se requiere un Numero Interior.');
						      }
						      if (!this.numeroExterior) {
						        this.errors.push('Se requiere un Numero Exterior.');
						      }
						      if (!this.telefonoFijo) {
						        this.errors.push('Se requiere un Telefono Fijo.');
						      }else if(this.telefonoFijo){
						      	if (!exprTel.test(this.telefonoFijo)) {
						      		 this.errors.push('Se requiere un Telefono Fijo Valido.');
						      	}
						      }
						      if (!this.telefonoMovil) {
						        this.errors.push('Se requiere un Telefono Movil.');
						      }else if(this.telefonoMovil){
						      	if (!exprCel.test(this.telefonoMovil)) {
						      		 this.errors.push('Se requiere un Telefono Movil Valido.');
						      	}
						      }
						},
						getEscolaridades: function() {
							axios.get('http://192.168.11.1:8091/servicios/getEscolaridades')
							.then(
									response => {
											this.escolaridades = response.data;
									}
							);
            },
					  getEtdoEscolaridades: function() {
							axios.get('http://192.168.11.1:8091/servicios/getEtdoEscolaridades')
							.then(
									response => {
											this.etdoescolaridades = response.data;
									}
							);
            },
						getECivil: function() {
							axios.get('http://192.168.11.1:8091/servicios/getECivil')
							.then(
									response => {
											this.ecivil = response.data;
									}
							);
            },
            getSolicitud: function() {
							axios.get('http://192.168.11.1:8091/servicios/getSolicitudById?id='+this.idSolicitud)
							.then(
									response => {
											this.sol = response.data;
									}
							);
            },
            getFoto: function (event) {
            	function tieneSoporteUserMedia() {
    return !!(navigator.getUserMedia || (navigator.mozGetUserMedia || navigator.mediaDevices.getUserMedia) || navigator.webkitGetUserMedia || navigator.msGetUserMedia)
}
            	
            		function _getUserMedia() {
            			event.preventDefault();
    return (navigator.getUserMedia || (navigator.mozGetUserMedia || navigator.mediaDevices.getUserMedia) || navigator.webkitGetUserMedia || navigator.msGetUserMedia).apply(navigator, arguments);
}
var uniqid = require('uniqid');

// Declaramos elementos del DOM
var $video = document.getElementById("video"),
	$canvas = document.getElementById("canvas"),
	$boton = document.getElementById("boton"),
	$estado = document.getElementById("estado"),
	$input = document.getElementById("nombre_imagen");
if (tieneSoporteUserMedia()) {
    _getUserMedia(
        {video: true},
        function (stream) {
            console.log("Permiso concedido");
			$video.src = window.URL.createObjectURL(stream);
			$video.play();
			//Escuchar el click
			
        }, function (error) {
            console.log("Permiso denegado o error: ", error);
            $estado.innerHTML = "No se puede acceder a la cámara, o no diste permiso.";
        });
} else {
    alert("Lo siento. Tu navegador no soporta esta característica");
    $estado.innerHTML = "Parece que tu navegador no soporta esta característica. Intenta actualizarlo.";
   }	
            },

						myFocus: function( id ) {
							document.getElementById(id).focus();
						}
        },
				directives: {
					focus: {
						inserted: function (el) {
							el.focus()
						}
					}
				},
				watch:{
					sol: function (val) {
						this.nombre = this.sol.nombre;
						this.apellidoPaterno = this.sol.apellidoPaterno;
						this.apellidoMaterno = this.sol.apellidoMaterno;
						this.email = this.sol.correo;
						

					}
				},
        mounted() {
        }
    }
</script>