<template>
  <div class="container">
    <br>
    <div class="card text-center">
  <div class="card-header">
    Iniciar Sesion
  </div>
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="col-md-7">
       <label for="email">Email</label>
        <input name="email" id="email" v-model="email"  class="form-control" aria-label="Email Materno del precandidato" :class="{'input': true }" maxlength="25" type="text"/>
<label for="password">Password</label>
        <input name="password" id="password" v-model="password"  class="form-control" aria-label="Email Materno del precandidato" :class="{'input': true }" maxlength="25" type="password" />
    </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <a href="#" class="btn btn-primary" v-on:click="login">Iniciar Sesion</a>
    </div>
  </div>
</div>
  </div>
</template>
<script>
    import axios from 'axios'
    import VueSession from 'vue-session'
    Vue.use(VueSession)
    export default {
      data(){
      return {
      email: '',
      password: '',
      infoLogin:[],
    }
      },
      methods: {
        login: function () {
          var that=this;
          axios.get('http://192.168.11.1:8091/servicios/login?user='+this.email+'&&password='+this.password)
          .then(function (response) {
            that.infoLogin = response.data;
            axios.post('http://localhost:8000/userLogin',{
              sesion: 1,
            }).then(function (response) {
              location.href = "/solicitud";
            }).catch(function (error) {
                  console.log(error);
              });
          }, function (err) {
            console.log('err', err)
          })
        }
    },
     mounted() {
    }
  }
</script>