<template>
	<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">EMAIL</th>
      <th scope="col">TELEFONO</th>
      <th scope="col">CALIFICACION</th>
      <th scope="col">ESTADO</th>

    </tr>
  </thead>
   <paginate name="seguimiento" :list="seguimiento" :per="10" tag="tbody">
     <tr v-for = " item in paginated('seguimiento')">
         <th scope="row" v-bind:seguimiento="item">{{ item.id }}</th>
      <td v-bind:seguimiento="item">{{ item.nombre+" "+item.apellidoPaterno+" "+item.apellidoMaterno}}</td>
      <td v-bind:seguimiento="item">{{ item.email}}</td>
      <td v-bind:seguimiento="item">{{ item.telefono}}</td>
      <td v-bind:seguimiento="item">{{ item.estado}}</td>
      <td> 
        <form action="/empleadoCreate" method="POST">
          <input type="hidden" name="_token" :value="csrf">
          <input type="hidden" :value="item.id" name="id">
          <input type="submit" class="btn btn-primary btn-sm" value="Crear Empleado">
        </form>
      </td>
     </tr>
</paginate>
<paginate-links for="seguimiento" :classes="{'ul': 'pagination', 'li': 'page-item', 'a': 'page-link'}"></paginate-links>
</table>
</template>

<script>
  import axios from 'axios'
  import VuePaginate from 'vue-paginate'
  Vue.use(VuePaginate)
    export default {
      data(){
      return {
      seguimiento: [],
      idCandidato: {},
      paginate: ['seguimiento'],
      filter:[],
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
    }
      },
        beforeCreate: function() {

  },
  created: function() {
      this.rest();
  },
  methods: {

    rest: function(){
    var that=this;
    axios.get('http://192.168.11.1:8091/servicios/getALLSeguimiento')
    .then(function(response){
      that.seguimiento = response.data;
    })
    .catch(function(erro){
      console.log('Error: '+error);
    });
  },
},
   mounted() {
    }
    }
</script>