<template>
	<form action="" method="get">
		<div class="row justify-content-center"><p v-if="errors.length">
    <b>Por favor corrija los siguientes errores:</b>
    <ul>
      <li v-for="error in errors">{{ error }}</li>
    </ul>
  </p>
</div>
		<div class="row justify-content-center">
			<div class="col-md-4">
			<label for="calificacion_rollplay">Calificacion Rollplay</label>
				<input name="calificacion_rollplay" id="calificacion_rollplay" v-model="calificacion_rollplay"  class="form-control" aria-label="Nombre del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('apellidoPaterno')" />

				<label for="comentarios_seguimiento">Comentarios</label>
				<textarea name="comentarios_seguimiento" id="comentarios_seguimiento" v-model="comentarios_seguimiento"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('telefonoMovil')"> 

				</textarea>
		</div>
		</div><!-- end row --> <br>
				<center>
			<button type="button" class="btn btn-success" v-on:click="create" >
						Crear Seguimiento
				</button>
				<a href="/preCandidato" class="btn btn-primary" >
						Regresar
				</a>
		</center>
	</form>
</template>
<script>
	import axios from 'axios';
	import moment from 'moment';

	    export default {
        props: ['id'],

         data() {
            return {
			    calificacion_rollplay: '',
				comentarios_seguimiento: ''	,
                candidato: [],
                errors: [],
            }
        },
         beforeCreate: function() {


        },
				created: function() {
					this.getCandidato();
        },
        methods: {
        	getCandidato: function () {
        		axios.get('http://192.168.11.1:8091/servicios/getCandidatoById?id='+this.id)
        		.then(
							response => {
									this.candidato = response.data;
							}
						);
        	},
        	 create: function(){
        	 			if (this.calificacion_rollplay && this.comentarios_seguimiento) {
        	 				axios.post('http://192.168.11.1:8091/servicios/saveSeguimineto', {
							calificacion_rollplay : this.calificacion_rollplay,
							comentarios : this.comentarios_seguimiento,
							id_candidato: this.id,
						  })
						  .then(function (response) {
						    console.log(response);
						    location.href = "/seguimiento";
						  })
						  .catch(function (error) {
						    console.log(error);
						  });
        	 			}
        	 			this.errors = [];
        	 			if (!this.calificacion_rollplay) {
        	 				this.errors.push('Se rquiere una calificacion.');
        	 			}
        	 			if (!this.comentarios_seguimiento) {
        	 				this.errors.push('Se rquiere un comentario.');
        	 			}
						},

						myFocus: function( id ) {
							document.getElementById(id).focus();
						}
        },
				directives: {
					focus: {
						inserted: function (el) {
							el.focus()
						}
					}
				},
        mounted() {
        }
    }
</script>