<template>
<div class="modal fade cita" id="saveCita" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h4 class="modal-title" id="modalLabel">Agendar Cita</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
      <label for="fecha">Fecha</label>
        <input name="fecha" id="fecha" v-model="fecha"  class="form-control" :class="{'input': true }" maxlength="25" type="date" @change="myFocus('email')" />

        <label for="hora">Hora</label>
        <input name="hora" id="hora" v-model="hora"  class="form-control" :class="{'input': true }" maxlength="25" type="time" @change="myFocus('email')" />
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" v-on:click="saveCita">Guardar Cita</button>
</div>
</div>
</div>
</div>
</template>
<script type="text/javascript">
    import axios from 'axios';
  import moment from 'moment';

  export default{
    props:{
      idSolicitud: Object,
      
    },
    data() {
            return {
              fecha: '',
              hora: '',
            }
        },
        beforeCreate: function() {

        },
        created: function() {
          
        },
         methods: {
            saveCita: function(){
              axios.post('http://192.168.11.1:8091/servicios/saveCita', {
                fecha_cita: this.fecha+" "+this.hora+":00",
                id: this.idSolicitud.id,
              })
              .then(function (response) {
                location.href = "/solicitud";
              })
              .catch(function (error) {
                console.log(error);
              });
            },

            myFocus: function( id ) {
              document.getElementById(id).focus();
            }
        },
        directives: {
          focus: {
            inserted: function (el) {
              el.focus()
            }
          }
        },
        mounted() {
        }

  }
</script>
