<template>
	<form action="" method="get">
		<div class="row justify-content-center"><p v-if="errors.length">
    <b>Por favor corrija los siguientes errores:</b>
    <ul>
      <li v-for="error in errors">{{ error }}</li>
    </ul>
  </p>
</div>

		<div class="row justify-content-center">
			<div class="col-md-4">
			<label for="nombre">Nombre</label>
				<input name="nombre" id="nombre" v-model="nombre"  class="form-control" aria-label="Nombre del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('apellidoPaterno')"/>

			<label for="apellidoPaterno">Apellido Paterno</label>
				<input name="apellidoPaterno" id="apellidoPaterno" v-model="apellidoPaterno"  class="form-control" aria-label="Apellido paterno del precandidato" :class="{'input': true }" maxlength="25" type="text" 
				@change="myFocus('apellidoMaterno')" />

			<label for="apellidoMaterno">Apellido Materno</label>
				<input name="apellidoMaterno" id="apellidoMaterno" v-model="apellidoMaterno"  class="form-control" aria-label="Apellido Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('fechaNacimietno')" />

				<label for="email">Email</label>
				<input name="email" id="email" v-model="email"  class="form-control" aria-label="Email Materno del precandidato" :class="{'input': true }" maxlength="25" type="email" @change="myFocus('genero1')" />

				<label for="telefono">Telefono</label>
				<input name="telefono" id="telefono" v-model="telefono"  class="form-control" aria-label="Nombre del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('apellidoPaterno')"/>
				
				<label for="idBolsa">Bolsa de Trabajo </label>
				<select name="idBolsa" id="idBolsa" v-model="idBolsa"  :class="{'input': true}" class="custom-select" aria-label="Escolaridad">
					<option value="" selected="">Bolsa de Trabajo</option>
					<option value="1">Ahorra Seguros</option>
					<option value="2">Ciber</option>
					<option value="3">Manual</option>
				</select>
				
		</div>
		</div><!-- end row --> <br>
				<center>
			<button type="button" class="btn btn-success" v-on:click="create" >
						Registrar
				</button>
		</center>
	</form>
</template>

<script>
	import axios from 'axios';
	import moment from 'moment';

	    export default {
         data() {
            return {
			    id:'',
                nombre: '',
                apellidoPaterno: '',
				apellidoMaterno: '',
				telefono:'',
				idBolsaTrabajo: '',
                email: '',
                errors: []
            }
        },
         beforeCreate: function() {

        },
				created: function() {
					this.getALLBolsa();
        },
        methods: {
					  create: function(){
					  	 
					  	 if (this.nombre && this.apellidoMaterno && this.email && this.telefono &&this.apellidoPaterno) {
						        axios.post('http://192.168.11.1:8091/servicios/saveSolicitudRH', {
							    nombre: this.nombre,
							    apellido_paterno: this.apellidoPaterno,
							    apellido_materno: this.apellidoMaterno,
							    email: this.email,
								telefono: this.telefono,
								idBolsa: this.idBolsa,

						  })
						         .then(function (response) {
						    	console.log(response);
								location.href = "/solicitud";
						  })
						     .catch(function (error) {
						    	console.log(error);
						  });
						      }

						      this.errors = [];

						      if (!this.nombre) {
						        this.errors.push('Se rquiere el Nombre.');
						      }
						      if (!this.apellidoMaterno) {
						        this.errors.push('Se requiere un Apellido Materno.');
						      }
						      if (!this.apellidoPaterno) {
						        this.errors.push('Se requiere un Apellido Paterno.');
						      }
						      if (!this.email) {
						        this.errors.push('Se requiere un Email.');
						      }
						      if (!this.telefono) {
						        this.errors.push('Se requiere un Telefono.');
						      } else if (!this.validarTelefono(this.telefono) && this.telefono.length != 8 && 
						      	this.telefono.length != 10 ) {
						        this.errors.push('Formato de telefono incorrecto.');
						      }
						},
						validarTelefono: function (telefono) {
					      var re =/[0-9]/;
					      return re.test(telefono);
					    },
					
						myFocus: function( id ) {
							document.getElementById(id).focus();
						}
        },
				directives: {
					focus: {
						inserted: function (el) {
							el.focus()
						}
					}
				},
        mounted() {
        }
    }
</script>