<template>
	<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">TELEFONO</th>
      <th scope="col">CORREO</th>
      <th scope="col">CITA</th>
      <th scope="col">ACCION</th>
    </tr>
  </thead>
     <paginate name="solicitudes" :list="solicitudes" :per="10" tag="tbody">
    <tr v-for="item in paginated('solicitudes')">
      <td  v-bind:solicitudes="item">{{ item.id }}</td>
      <td  v-bind:solicitudes="item">{{ item.nombre+" "+item.apellidoPaterno+" "+item.apellidoMaterno }}</td>
      <td  v-bind:solicitudes="item">{{ item.telefono }}</td>
      <td  v-bind:solicitudes="item">{{ item.correo }}</td>
      <td  v-bind:solicitudes="item" v-if="item.fechaCita == null ">No hay cita agendada</td>
      <td  v-bind:solicitudes="item" v-else-if="item.fechaCita != null ">
      {{item.fechaCita | liveSubstr | fechaFormateada}}</td>
      <td>
      <form action="/verPreCandidato" method="POST" v-if = "item.fechaCita != null && item.estado == 1 ">
        <input type="hidden"  name="id" :value="item.id">
        <input type="hidden" name="_token" :value="csrf">
        <input type="submit" class="btn btn-primary btn-sm" value="Mostrar Pre Candidato">
      </form>

      <form action="/idSolicitud" method="POST" v-else-if=" item.fechaCita != null && item.estado == 0">
        <input type="hidden"  name="id" :value="item.id">
        <input type="hidden" name="nombre" :value = "item.nombre">
        <input type="hidden" name="aPaterno" :value = "item.apellidoPaterno">
        <input type="hidden" name="aMaterno" :value = "item.apellidoMaterno">
        <input type="hidden" name="email" :value = "item.correo">
        <input type="hidden" name="_token" :value="csrf">
        <input type="submit" class="btn btn-primary btn-sm" value="Craer Pre Candidato">
      </form>

      

      
        
         <button v-if="item.fechaCita == null ":id="item.id" type="button" @click="obtenerSolicitud" 
         class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#saveCita" >Agendar Cita </button>

        <button v-else-if="item.fechaCita != null ":id="item.id" type="button" @click="obtenerSolicitud" 
        class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#saveCita" >Cambiar Cita </button> 

    </td>
    </tr>
  </paginate>
  <paginate-links for="solicitudes" :classes="{'ul': 'pagination', 'li': 'page-item', 'a': 'page-link'}"></paginate-links>
 <modal-cita :idSolicitud=idSolicitud :idUsuario=1></modal-cita>
</table>

</template>

<script>

  import axios from 'axios';
  import moment from 'moment';
    import VuePaginate from 'vue-paginate'
  Vue.use(VuePaginate)
  import VueSession from 'vue-session';
  Vue.use(VueSession)

  import ModalCita from './ModalCita.vue'

    export default {
      data(){
      return {  
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      solicitudes: [],
      paginate: ['solicitudes'],
      idSolicitud: {},
      filter:[],
    }
      },
        filters: {
  
    liveSubstr: function(string) {
      return string.substring(0,19) ;
        },

        fechaFormateada: function(string) {
          return moment(string).subtract(5, 'hours').format("MM-DD-YYYY, h:mm:ss a"); 
        }
  
  },
       components:{
    ModalCita,
  },
        beforeCreate: function() {

  },
  created: function() {
      this.rest();
  },
  methods: {

    rest: function(){
    var that=this;
    axios.get('http://192.168.11.1:8091/servicios/getALLSolicitudes')
    .then(function(response){
      that.solicitudes = response.data;
    })
    .catch(function(erro){
      console.log('Error: '+error);
    });
  },
  obtenerSolicitud(event){
    this.filter= this.solicitudes.filter(function (solicitudes) {
  return solicitudes.id == (event.target.getAttribute('id'))
}),
  this.idSolicitud = this.filter[0]

  },
getPrecandidato: function () {
            axios.get('http://192.168.11.1:8091/servicios/getALLPrecandidato')
            .then(
              response => {
                  this.pre = response.data;
              }
            );
          }
},

   mounted() {
    }
    }
</script>