<template>
  <div class="row">
    <div class="col-md-2">
      <label for="fehcaInicio">Fecha de Inicio</label>
        <input name="fehcaInicio" id="fehcaInicio" v-model="fehcaInicio"  class="form-control" aria-label="Nombre del precandidato" :class="{'input': true }" maxlength="25" type="date" @change="myFocus('apellidoPaterno')" />
      </div>
    <div class="col-md-2">
      <label for="fechaFinal">Fecha Final</label>
        <input name="fechaFinal" id="fechaFinal" v-model="fechaFinal"  class="form-control" aria-label="Nombre del precandidato" :class="{'input': true }" maxlength="25" type="date" @change="myFocus('apellidoPaterno')" />
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary" :action ="this.getCandidatoFecha">Buscar</button>
    </div>
    <div class="col-md-2">
      <label for="email">Buscar por Email</label>
      <input type="text" class="form-control" name="email">
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary">Buscar</button>
    </div>
     <div class="col-md-2">
      <label for="id">Buscar por ID</label>
      <input type="text" class="form-control" name="id">
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary">Buscar</button>
    </div>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">CORREO</th>
      <th scope="col">Total de Candidatos:<h4>{{totalCandidatos}}</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="item in candidatos">
      <th scope="row" v-bind:solicitudes="item">{{ item.id }}</th>
      <th scope="row" v-bind:solicitudes="item">{{ item.nombre }}</th>
      <th scope="row" v-bind:solicitudes="item">{{ item.email }}</th>
    </tr>
  </tbody>
</table>
  </div>
	
</template>

<script>
  import axios from 'axios'
    export default {
      data(){
      return {
      candidatos: [],
      idCandidato: {},
      totalCandidatos: null,
      fehcaInicio: '',
      fechaFinal: '',
      filter:[],
    }
      },
        beforeCreate: function() {

  },
  created: function() {
      this.rest();
      this.getCandidatoFecha();
  },
  methods: {

    rest: function(){
    var that=this;
    axios.get('http://192.168.11.1:8091/servicios/getALLCandidato')
    .then(function(response){
      that.candidatos = response.data;
      that.totalCandidatos = that.candidatos.length;
    })
    .catch(function(erro){
      console.log('Error: '+error);
    });
  },
  obtenerSolicitud(event){
    this.filter= this.candidatos.filter(function (candidatos) {
  return candidatos.id == (event.target.getAttribute('id'))
}),
  this.idCandidato = this.filter[0]
  },
  getCandidatoFecha: function () {
    axios.get('http://192.168.11.1:8091/servicios/getCandidatobyFecha?inicio='+this.fehcaInicio+' 00:00:00&fin='+this.fechaFinal+'date 23:59:59')
              .then(
                  response => {
                      this.escolaridades = response.data;
                  }
              );
  }
},
   mounted() {
    }
    }
</script>