<template>
	<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">CORREO</th>
      <th scope="col">ACCION</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="item in empleado">
      <th scope="row" v-bind:empleado="item">{{ item.id }}</th>
      <th scope="row" v-bind:empleado="item">{{ item.nombre }}</th>
      <th scope="row" v-bind:empleado="item">{{ item.email }}</th>
    </tr>
  </tbody>
</table>
</template>

<script>
  import axios from 'axios'
    export default {
      data(){
      return {
      empleado: [],
      idCandidato: {},
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      filter:[],
    }
      },
        beforeCreate: function() {

  },
  created: function() {
      this.rest();
  },
  methods: {

    rest: function(){
    var that=this;
    axios.get('http://192.168.11.1:8091/servicios/getEmpleadoAll')
    .then(function(response){
      that.empleado = response.data;
    })
    .catch(function(erro){
      console.log('Error: '+error);
    });
  }
},
   mounted() {
    }
    }
</script>