<template>
	<form action="" method="get">
		<div class="row justify-content-center"><p v-if="errors.length">
    <b>Por favor corrija los siguientes errores:</b>
    <ul>
      <li v-for="error in errors">{{ error }}</li>
    </ul>
  </p>
</div>
		<div class="row justify-content-center">
			<div class="col-md-4">
			<label for="detallePuesto">Detalle de Puesto</label>
				<input name="detallePuesto" id="detallePuesto" v-model="detallePuesto"  class="form-control" aria-label="Nombre del precandidato" 
				:class="{'input': true }" maxlength="25" type="text" @change="myFocus('sueldoDiario')" />

				<label for="sueldoDiario">Sueldo Diario</label>
				<input name="sueldoDiario" id="sueldoDiario" v-model="sueldoDiario"  class="form-control" aria-label="Nombre del precandidato" 
				:class="{'input': true }" maxlength="25" type="text" @change="myFocus('sueldoMensual')" />

				<label for="sueldoMensual">Sueldo Mensual</label>
				<input name="sueldoMensual" id="sueldoMensual" v-model="sueldoMensual"  class="form-control" aria-label="Nombre del precandidato" 
				:class="{'input': true }" maxlength="25" type="text" @change="myFocus('cuentaClabe')" />

				<label for="cuentaClabe">Cuenta de Clabe</label>
				<input name="cuentaClabe" id="cuentaClabe" v-model="cuentaClabe"  class="form-control" aria-label="Nombre del precandidato" 
				:class="{'input': true }" maxlength="25" type="text" @change="myFocus('banco')" />

				<label for="banco">Banco</label>
				<input name="banco" id="banco" v-model="banco"  class="form-control" aria-label="Nombre del precandidato" :class="{'input': true }" maxlength="25" type="text" />
		</div>
		</div>
		<br>
				<center>
			<button type="button" class="btn btn-success" v-on:click="create" >
						Crear Empleado
				</button>
				<a href="/preCandidato" class="btn btn-primary" >
						Regresar
				</a>
		</center>
	</form>
</template>
<script>
	import axios from 'axios';
	import moment from 'moment';

	    export default {
        props: ['seguimiento'],

         data() {
            return {
			    detallePuesto: '',
				sueldoDiario: '',
				sueldoMensual: '',
				cuentaClabe: '',
				banco: '',
                candidato: [],
                errors: [],
            }
        },
         beforeCreate: function() {


        },
				created: function() {
        },
        methods: {

        	 create: function(){
        	 	var exprClabe = /\d{18}/;
        	 	if (this.detallePuesto && this.sueldoDiario && this.sueldoMensual && this.cuentaClabe && this.banco) {
        	 		axios.post('http://192.168.11.1:8091/servicios/saveEmpleado', {

							id_seguimiento : this.seguimiento,
							puesto_detalle : this.detallePuesto,
							id_puesto : 1,
							id_puesto_tipo: 1,
							id_area: 1,
							sueldo_diario: this.sueldoDiario,
							sueldo_mensual: this.sueldoMensual,
							cta_clabe: this.cuentaClabe,
							banco: this.banco,
							id_empresa: 1,
						  })
						  .then(function (response) {
						    console.log(response);
						    location.href = '/'
						  })
						  .catch(function (error) {
						    console.log(error);
						  });
        	 	}
				this.errors = [];

						      if (!this.detallePuesto) {
						        this.errors.push('Se rquiere un nombre.');
						      }
						      if (!this.sueldoDiario) {
						        this.errors.push('Se rquiere un sueldo diario.');
						      }
						      if (!this.sueldoMensual) {
						        this.errors.push('Se rquiere un sueldo mensual.');
						      }
						      if (!this.cuentaClabe) {
						        this.errors.push('Se rquiere una cuenta clabe.');
						      }
						      else if (this.cuentaClabe) {
						      	if (!exprClabe.test(this.cuentaClabe)) {
						      		this.errors.push('Se rquiere una cuenta clabe correcta.');
						      	}
						      }
						      if (!this.banco) {
						        this.errors.push('Se rquiere un banco.');
						      }


						},

						myFocus: function( id ) {
							document.getElementById(id).focus();
						}
        },
				directives: {
					focus: {
						inserted: function (el) {
							el.focus()
						}
					}
				},
        mounted() {
        }
    }
</script>