<template>
<div class="modal fade cita" id="updateBolsa" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h4 class="modal-title" id="modalLabel">Actualizar Catalogo</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
      <label for="nombre">Nombre</label>
        <input name="nombre" id="nombre" v-model="nombre"  class="form-control" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('tipo')" />

        <label for="tipo">Tipo</label>
        <input name="tipo" id="tipo" v-model="tipo"  class="form-control" :class="{'input': true }" maxlength="25" type="text" />
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" v-on:click="saveBolsa">Guardar Bolsa</button>
</div>
</div>
</div>
</div>
</template>
<script type="text/javascript">
    import axios from 'axios';
  export default{
    props: {
            idBolsa: Object,
        },

    data() {
            return {
              nombre: '',
              tipo: '',
            }
        },
        beforeCreate: function() {

        },
        created: function() {
          
        },
         methods: {
            saveBolsa: function(){
              axios.post('http://192.168.11.1:8091/servicios/saveBolsa', {
                nombre: this.nombre,
                tipo: this.tipo,
              })
              .then(function (response) {
                console.log(response);
                location.reload();
              
              })
              .catch(function (error) {
                console.log(error);
              });
            },

            myFocus: function( id ) {
              document.getElementById(id).focus();
            }
        },
        directives: {
          focus: {
            inserted: function (el) {
              el.focus()
            }
          }
        },
        watch: {
          idBolsa: function(val){
            this.nombre = this.idBolsa.nombre;
            this.tipo = this.idBolsa.tipo;
          }

        },
        mounted() {
        }

  }
</script>
