<template>
	<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">TIPO</th>
      <th scope="col"><button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#saveBolsa" >Crear Nueva Bolsa</button></th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="item in bolsa">
      <td v-bind:bolsa="item">{{ item.id }}</td>
      <td v-bind:bolsa="item">{{ item.nombre }}</td>
      <td v-bind:bolsa="item">{{ item.tipo }}</td>
      <td v-bind:bolsa="item">
        <button :id="item.id" type="button" @click="obtenerBolsa" class="btn btn-primary btn-sm" data-toggle="modal" 
        data-target="#updateBolsa" >
          Actualizar
        </button>
        <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#updateBolsa">Dar de Baja</button>
      </td>
      
    </tr>
    <bolsa-create-modal></bolsa-create-modal>
    <bolsa-update-modal :idBolsa=idBolsa></bolsa-update-modal>
  </tbody>
</table>
</template>

<script>
  import axios from 'axios';
  import BolsaCreateModal from './BolsaCreateModal.vue';
  import BolsaUpdateModal from './BolsaUpdateModal.vue';
    export default {
      data(){
      return {
      bolsa: [],
      idBolsa: {},
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      filter:[],
    }
      },
      components:{
    BolsaCreateModal,
    BolsaUpdateModal,
  },
        beforeCreate: function() {

  },
  created: function() {
      this.rest();
  },
  methods: {

    rest: function(){
    var that=this;
    axios.get('http://192.168.11.1:8091/servicios/getALLBolsa')
    .then(function(response){
      that.bolsa = response.data;
    })
    .catch(function(erro){
      console.log('Error: '+error);
    });
  },
    obtenerBolsa(event){
    this.filter= this.bolsa.filter(function (bolsa) {
  return bolsa.id == (event.target.getAttribute('id'))
}),
  this.idBolsa = this.filter[0]
  }
},
   mounted() {
    }
    }
</script>