<template>
    <div class="dynamic">
        <div class="col-xs-4 col-xs-offset-4">
        <button 
                class="btn btn-block btn-md btn-default" 
                @click="changeComponent('bolsa-index')"
            >
                Seleccionar Catalogo Bolsa
            </button>
             <button 
                class="btn btn-block btn-md btn-default" 
                @click="changeComponent('escolaridades-index')"
            >
                Seleccionar Catalogo Escolaridades
            </button>
            <button 
                class="btn btn-block btn-md btn-default" 
                @click="changeComponent('etdocivil-index')"
            >
                Seleccionar Catalogo Estado Civil
            </button>
            <button 
                class="btn btn-block btn-md btn-default" 
                @click="changeComponent('etdoescolaridades-index')"
            >
                Seleccionar Catalogo Estado Escolaridades
            </button>
        </div>
 
        <div class="clearfix"></div>
        <hr />
 
        
        <transition name="fade">
            <component
                v-bind:is="currentView"
            />
        </transition>
    </div>
</template>
 
<script>
    import BolsaIndex from './BolsaIndex.vue';
    import EscolaridadesIndex from './EscolaridadesIndex.vue';
        import EtdocivilIndex from './EtdocivilIndex.vue';
    import EtdoescolaridadesIndex from './EtdoescolaridadesIndex.vue';

    export default {
        components: {
            BolsaIndex, EscolaridadesIndex, EtdocivilIndex, EtdoescolaridadesIndex
        },
        data() {
            return {
                components: ['bolsa-index', 'escolaridades-index', 'etdocivil-index', 'etdoescolaridades-index'],
                currentView: 'bolsa-index'
            }
        },
        methods: {
            changeComponent(view) {
                this.currentView = view;
            }
        }
    }
</script>

<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
        display: none;
    }
    .fade-leave-active {
        opacity: 0.8
    }
</style>