<template>
<div class="modal fade cita" id="saveEscolaridades" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h4 class="modal-title" id="modalLabel">Crear Escolaridad</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
      <label for="nivel">Nivel</label>
        <input name="nivel" id="nivel" v-model="nivel"  class="form-control" :class="{'input': true }" maxlength="25" type="text"/>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" v-on:click="saveCita">Guardar Escolaridad</button>
</div>
</div>
</div>
</div>
</template>
<script type="text/javascript">
    import axios from 'axios';
  export default{
    data() {
            return {
              nivel: '',
            }
        },
        beforeCreate: function() {

        },
        created: function() {
          
        },
         methods: {
            saveCita: function(){
              axios.post('http://192.168.11.1:8091/servicios/saveBolsa', {
                nombre: this.nivel,
              })
              .then(function (response) {
                console.log(response);
                location.reload();
              
              })
              .catch(function (error) {
                console.log(error);
              });
            },

            myFocus: function( id ) {
              document.getElementById(id).focus();
            }
        },
        directives: {
          focus: {
            inserted: function (el) {
              el.focus()
            }
          }
        },
        mounted() {
        }

  }
</script>
