<template>
	<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NIVEL</th>
      <th scope="col"><button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#saveEscolaridades">Crear Nueva Escolaridad</button></th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="item in escolaridad">
      <td scope="row" v-bind:escolaridad="item">{{ item.id }}</td>
      <td scope="row" v-bind:escolaridad="item">{{ item.nivel }}</td>
      <td>
        <button :id="item.id" type="button" @click="obtenerEscolaridad" class="btn btn-primary btn-sm" data-toggle="modal" 
        data-target="#updateEscolaridad" >
          Actualizar
        </button>
        <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#updateBolsa">Dar de Baja</button>
      </td>
    </tr>
    <escolaridades-create-modal></escolaridades-create-modal>
    <escolaridades-update-modal :idEscolaridad=idEscolaridad></escolaridades-update-modal>
  </tbody>
</table>
</template>

<script>
  import axios from 'axios';
  import EscolaridadesCreateModal from './EscolaridadesCreateModal.vue';
  import EscolaridadesUpdateModal from './EscolaridadesUpdateModal.vue';
    export default {
      data(){
      return {
      escolaridad: [],
      idEscolaridad: {},
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      filter:[],
    }
      },
      components:{
    EscolaridadesCreateModal,
    EscolaridadesUpdateModal,
  },
        beforeCreate: function() {

  },
  created: function() {
      this.rest();
  },
  methods: {

    rest: function(){
    var that=this;
    axios.get('http://192.168.11.1:8091/servicios/getEscolaridades')
    .then(function(response){
      that.escolaridad = response.data;
    })
    .catch(function(erro){
      console.log('Error: '+error);
    });
  },
  obtenerEscolaridad(event){
    this.filter= this.escolaridad.filter(function (escolaridad) {
  return escolaridad.id == (event.target.getAttribute('id'))
}),
  this.idEscolaridad = this.filter[0]
  }
},
   mounted() {
    }
    }
</script>