<template>
	<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">ESTADO</th>
      <th scope="col"><button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#saveEtdoescolaridades">Crear Estado Escolaridad</button></th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="item in etdoEscolaridad">
      <td scope="row" v-bind:etdoEscolaridad="item">{{ item.id }}</td>
      <td scope="row" v-bind:etdoEscolaridad="item">{{ item.estado }}</td>
      <td>
         <button :id="item.id" type="button" @click="obtenerEtdoescolar" class="btn btn-primary btn-sm" data-toggle="modal" 
        data-target="#updateEtdoescolaridad" >
          Actualizar
        </button>
        <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#updateBolsa">Dar de Baja</button>
      </td>
    </tr>
    <etdoescolaridades-create-modal></etdoescolaridades-create-modal>
    <etdoescolaridades-update-modal :idEtdoescolar = idEtdoescolar></etdoescolaridades-update-modal>
  </tbody>
</table>
</template>

<script>
  import axios from 'axios';
  import EtdoescolaridadesCreateModal from './EtdoescolaridadesCreateModal.vue';
  import EtdoescolaridadesUpdateModal from './EtdoescolaridadesUpdateModal.vue';
    export default {
      data(){
      return {
      etdoEscolaridad: [],
      idEtdoescolar: {},
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      filter:[],
    }
      },
      components:{
    EtdoescolaridadesCreateModal,
    EtdoescolaridadesUpdateModal,
  },
        beforeCreate: function() {

  },
  created: function() {
      this.rest();
  },
  methods: {

    rest: function(){
    var that=this;
    axios.get('http://192.168.11.1:8091/servicios/getEtdoEscolaridades')
    .then(function(response){
      that.etdoEscolaridad = response.data;
    })
    .catch(function(erro){
      console.log('Error: '+error);
    });
  },
    obtenerEtdoescolar(event){
    this.filter= this.etdoEscolaridad.filter(function (etdoEscolaridad) {
  return etdoEscolaridad.id == (event.target.getAttribute('id'))
}),
  this.idEtdoescolar = this.filter[0]
  }
},
   mounted() {
    }
    }
</script>