<template>
	<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">DESCRIPCION</th>
      <th scope="col"><button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#saveEtdocivil">Crear Estado Civil</button></th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="item in etdocivil">
      <td scope="row" v-bind:etdocivil="item">{{ item.id }}</td>
      <td scope="row" v-bind:etdocivil="item">{{ item.descripcion }}</td>
      <td v-bind:etdocivil="item">
        <button :id="item.id" type="button" @click="obtenerEtdocivil" class="btn btn-primary btn-sm" data-toggle="modal" 
        data-target="#updateEtdocivil" >
          Actualizar
        </button>
        <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#updateBolsa">Dar de Baja</button>
      </td>
    </tr>
    <etdocivil-create-modal></etdocivil-create-modal>
    <etdocivil-update-modal :idEtdocivil = idEtdocivil></etdocivil-update-modal>
  </tbody>
</table>
</template>

<script>
  import axios from 'axios';
  import EtdocivilCreateModal from './EtdocivilCreateModal.vue';
  import EtdocivilUpdateModal from './EtdocivilUpdateModal.vue';
    export default {
      data(){
      return {
      etdocivil: [],
      idEtdocivil: {},
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      filter:[],
    }
      },
      components:{
    EtdocivilCreateModal,
    EtdocivilUpdateModal,
  },
        beforeCreate: function() {

  },
  created: function() {
      this.rest();
  },
  methods: {

    rest: function(){
    var that=this;
    axios.get('http://192.168.11.1:8091/servicios/getECivil')
    .then(function(response){
      that.etdocivil = response.data;
    })
    .catch(function(erro){
      console.log('Error: '+error);
    });
  },
  obtenerEtdocivil(event){
    this.filter= this.etdocivil.filter(function (etdocivil) {
  return etdocivil.id == (event.target.getAttribute('id'))
}),
  this.idEtdocivil = this.filter[0]
  }

},
   mounted() {
    }
    }
</script>