<template>
<div class="modal fade cita" id="updateEtdoescolaridad" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h4 class="modal-title" id="modalLabel">Actualizar Catalogo</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
      <label for="estado">Estado</label>
        <input name="estado" id="estado" v-model="estado"  class="form-control" :class="{'input': true }" maxlength="25" type="text"/>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" v-on:click="saveEscolaridad">Guardar Bolsa</button>
</div>
</div>
</div>
</div>
</template>
<script type="text/javascript">
    import axios from 'axios';
  export default{
    props: {
            idEtdoescolar: Object,
        },

    data() {
            return {
              estado: '',
            }
        },
        beforeCreate: function() {

        },
        created: function() {
          
        },
         methods: {
           saveEscolaridad: function(){
              axios.post('http://192.168.11.1:8091/servicios/saveBolsa', {
                estado: this.estado,
              })
              .then(function (response) {
                console.log(response);
                location.reload();
              
              })
              .catch(function (error) {
                console.log(error);
              });
            },


            myFocus: function( id ) {
              document.getElementById(id).focus();
            }
        },
        directives: {
          focus: {
            inserted: function (el) {
              el.focus()
            }
          }
        },
        watch: {
          idEtdoescolar: function(val){
            this.estado = this.idEtdoescolar.estado;
            
          }

        },
        mounted() {
        }

  }
</script>
