<template>
	<form action="" method="get">
		<div class="row justify-content-center"><p v-if="errors.length">
    <b>Por favor corrija los siguientes errores:</b>
    <ul>
      <li v-for="error in errors">{{ error }}</li>
    </ul>
  </p>
</div>
		<div class="row justify-content-center">
			<div class="col-md-4">
			<label for="nombre">Nombre</label>
				<input name="nombre" id="nombre" v-model="nombre"  class="form-control" aria-label="Nombre del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('apellidoPaterno')" disabled />

			<label for="apellidoPaterno">Apellido Paterno</label>
				<input name="apellidoPaterno" id="apellidoPaterno" v-model="apellidoPaterno"  class="form-control" aria-label="Apellido paterno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('apellidoMaterno')" disabled />

			<label for="apellidoMaterno">Apellido Materno</label>
				<input name="apellidoMaterno" id="apellidoMaterno" v-model="apellidoMaterno"  class="form-control" aria-label="Apellido Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('fechaNacimietno')" disabled />

				<label for="email">Email</label>
				<input name="email" id="email" v-model="email"  class="form-control" aria-label="Email Materno del precandidato" :class="{'input': true }" maxlength="25" type="email" @change="myFocus('genero1')" disabled />

				<label for="resultadoExamen">Resultado de Examen</label>
				<input name="resultadoExamen" id="resultadoExamen" v-model="resultadoExamen"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('telefonoMovil')" />

				<label for="comentarios">Comentarios</label>
				<textarea name="comentarios" id="comentarios" v-model="comentarios"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('telefonoMovil')"> 
				</textarea>

				<label for="competencias">Competencias</label>
				<select name="idCalificacion" id="idCalificacion" v-model= "idCalificacion" class="form-control">
					<option value="1">Incompetente/ Inhabil</option>
					<option value="2">Incopentente/ Habil</option>
					<option value="3">Competente/ Inhabil</option>
					<option value="4">Competente/ Habil</option>
				</select>
		</div>

		</div><!-- end row --> <br>
				<center>
			<button type="button" class="btn btn-success" v-on:click="create" >
						Crear Candidato
				</button>
				<a href="/preCandidato" class="btn btn-primary" >
						Regresar
				</a>
		</center>
	</form>
</template>

<script>
	import axios from 'axios';
	import moment from 'moment';

	    export default {
        props: ['precandidato'],

         data() {
            return {

                nombre: '',
                apellidoPaterno: '',
				apellidoMaterno: '',
                email: '',
				resultadoExamen: '',
				comentarios: ''	,
				idCalificacion: '',
                errors: [],
                pre: [],
            }
        },
         beforeCreate: function() {

        },
				created: function() {
			this.getPrecandidato();
        },
        methods: {
        	getPrecandidato: function () {
        		axios.get('http://192.168.11.1:8091/servicios/getPrecandidatoById?id='+this.precandidato)
        		.then(
							response => {
									this.pre = response.data;
							}
						);
        	},
        	 create: function(){
        	 	if (this.resultadoExamen &&  this.comentarios) {
        	 		axios.post('http://192.168.11.1:8091/servicios/saveCandidato', {
						    idCalificacion: 1,
						    calificacionExamen: this.resultadoExamen,
						    idPrecandidato: this.precandidato,
						    comentarios: this.comentarios,
						    idCalificacion: this.idCalificacion,
						  })
						  .then(function (response) {
						    console.log(response);
						    location.href = "/candidato";
						  })
						  .catch(function (error) {
						    console.log(error);
						  });
        	 	}
        	 	this.errors = [];
        	 	if (!this.resultadoExamen) {
        	 		this.errors.push('Se rquiere un resultado.');
        	 	}
        	 	if (!this.comentarios) {
        	 		this.errors.push('Se rquiere un comentario.');
        	 	}
							
						},

						myFocus: function( id ) {
							document.getElementById(id).focus();
						}
        },
				directives: {
					focus: {
						inserted: function (el) {
							el.focus()
						}
					}
				},
								watch:{
					pre: function(val){
						this.nombre= this.pre.nombre;
						this.apellidoPaterno= this.pre.apellidoPaterno;
						this.apellidoMaterno= this.pre.apellidoMaterno;
						this.email= this.pre.email;

					}
				},
        mounted() {
        }
    }
</script>