<template>
	<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">CORREO</th>
      <th scope="col">TELEFONO</th>
      <th scope="col">CALIFICACION</th>
      <th scope="col">ESTADO</th>
      <th scope="col">COMPETENCIA</th>
      <th scope="col">ACCION</th>
    </tr>
  </thead>
  <paginate name="candidatos" :list="candidatos" :per="10" tag="tbody">
     <tr v-for = " item in paginated('candidatos')">
        <th scope="row" v-bind:preCandidatos="item">{{ item.id }}</th>
      <td v-bind:preCandidatos="item">{{ item.nombre+" "+item.apellidoPaterno+" "+item.apellidoMaterno }}</td>
      <td v-bind:preCandidatos="item">{{ item.email }}</td>
      <td v-bind:preCandidatos="item">{{ item.telefonoMovil }}</td>
      <td v-bind:preCandidatos="item">{{ item.estado }}</td>
       <td> 
        <form action="/preCandidatoUpdate" method="POST">
          <input type="hidden" name="_token" :value="csrf">
          <input type="hidden" :value="item.id" name="id">
          <input type="submit" class="btn btn-primary btn-sm" value="Actualizar Datos">
        </form>
      </td>
      <td>
        <form action="/seguimientoCreate" method="POST" v-if="item.idEstado == 0">
          <input type="hidden" name="_token" :value="csrf">
          <input type="hidden" :value="item.id" name="id">
          <input type="submit" class="btn btn-primary btn-sm" value="Dar Segumiento">
        </form>

        <form action="/seguimientoView" method="POST" v-if="item.idEstado == 1">
          <input type="hidden" name="_token" :value="csrf">
          <input type="hidden" :value="item.id" name="id">
          <input type="submit" class="btn btn-primary btn-sm" value="Ver Seguimiento">
        </form>
      </td>
     </tr>
</paginate>
<paginate-links for="candidatos" :classes="{'ul': 'pagination', 'li': 'page-item', 'a': 'page-link'}"></paginate-links>
</table>
</template>

<script>
  import axios from 'axios'
  import VuePaginate from 'vue-paginate'
  Vue.use(VuePaginate)
    export default {
      data(){
      return {
      candidatos: [],
      paginate: ['candidatos'],
      idCandidato: {},
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      filter:[],
    }
      },
        beforeCreate: function() {

  },
  created: function() {
      this.rest();
  },
  methods: {

    rest: function(){
    var that=this;
    axios.get('http://192.168.11.1:8091/servicios/getALLCandidato')
    .then(function(response){
      that.candidatos = response.data;
    })
    .catch(function(erro){
      console.log('Error: '+error);
    });
  },
  obtenerSolicitud(event){
    this.filter= this.candidatos.filter(function (candidatos) {
  return candidatos.id == (event.target.getAttribute('id'))
}),
  this.idCandidato = this.filter[0]
  }
},
   mounted() {
    }
    }
</script>