<template>
	<form action="" method="get">
		<div class="row justify-content-center"><!-- start row -->
			<div class="col-md-4">
			<label for="nombre">Nombre</label>
				<input name="nombre" id="nombre" v-model="nombre"  class="form-control" aria-label="Nombre del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('apellidoPaterno')" disabled />

			<label for="apellidoPaterno">Apellido Paterno</label>
				<input name="apellidoPaterno" id="apellidoPaterno" v-model="apellidoPaterno"  class="form-control" aria-label="Apellido paterno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('apellidoMaterno')" disabled/>

			<label for="apellidoMaterno">Apellido Materno</label>
				<input name="apellidoMaterno" id="apellidoMaterno" v-model="apellidoMaterno"  class="form-control" aria-label="Apellido Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('fechaNacimietno')" disabled/>

			
				<label for="email">Email</label>
				<input name="email" id="email" v-model="email"  class="form-control" aria-label="Email Materno del precandidato" :class="{'input': true }" maxlength="25" type="email" @change="myFocus('genero1')" disabled/>

			<label for="telefono">Telefono</label>
				<input name="telefono" id="telefono" v-model="telefono"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('telefonoMovil')" disabled/>

				<label for="resultadoExamen">Resultado de Examen</label>
				<input name="resultadoExamen" id="resultadoExamen" v-model="resultadoExamen"  class="form-control" aria-label="NSS Materno del precandidato" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('telefonoMovil')" disabled/>
		</div>


		</div><!-- end row --> <br>
				<center>
				<a href="/preCandidato" class="btn btn-primary" >
						Regresar
				</a>
				 <form action="/candidatoUpdate" method="POST">
          <input type="hidden" name="_token" :value="csrf">
          <input type="hidden" :value="pre.id" name="id">
          <input type="submit" class="btn btn-primary btn-sm" value="Actualizar Datos">
        </form>
		</center>
	</form>
</template>

<script>
	import axios from 'axios';
	import moment from 'moment';

	    export default {
        props: ['precandidato'],

         data() {
            return {
			   
                nombre: '',
                apellidoPaterno: '',
				apellidoMaterno: '',
                email: '',
				resultadoExamen: '',
				csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                pre: [],
            }
        },
         beforeCreate: function() {

        },
				created: function() {
			this.getPrecandidato();
        },
        methods: {
        	getPrecandidato: function () {
        		axios.get('http://192.168.11.1:8091/servicios/getCandidatoById?id='+this.precandidato)
        		.then(
							response => {
									this.pre = response.data;
							}
						);
        	},

						myFocus: function( id ) {
							document.getElementById(id).focus();
						}
        },
				directives: {
					focus: {
						inserted: function (el) {
							el.focus()
						}
					}
				},
								watch:{
					pre: function(val){
						this.nombre= this.pre.nombre;
						this.apellidoPaterno= this.pre.apellidoPaterno;
						this.apellidoMaterno= this.pre.apellidoMaterno;
						this.email= this.pre.email;
						this.telefono= this.pre.telefono;
						this.resultadoExamen = this.pre.calificacionExamen;
					}
				},
        mounted() {
        }
    }
</script>